.main__container {
  /* background-color: teal; */
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.main__greeting {
  color: var(--secondary-color);
  font-size: 1.3rem;
  font-family: 'JetBrains mono';
  margin: 0;
}
.main__name {
  color: var(--white-color);
  font-size: 3rem;
  margin: 0;
}
.main__title {
  color: var(--gray-color);
  font-size: 2rem;
  margin: 0;
  font-weight: 700;
}
.main__description {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 2rem;
}
.main__contact {
  background: transparent;
  border: 3px solid var(--secondary-color);
  border-radius: 0.5rem;
  color: var(--secondary-color);
  cursor: pointer;
  font-size: 1rem;
  font-family: 'JetBrains mono';
  padding: 0.8rem 1.5rem;
  margin: 2rem 0;
}
.main__contact:hover {
  transition: 0.4s;
  background-color: var(--secondary-color-h);
}

@media (min-width: 700px) {
  .main__container {
    font-size: 1vw;
    min-height: 100vh;
  }
  .main__name {
    font-size: 4.5vw;
  }
  .main__title {
    font-size: 3.5vw;
  }
  .main__description {
    font-size: 1.2rem;
    letter-spacing: 1px;
    max-width: 600px;
  }
  .main__contact {
    font-size: 1rem;
    padding: 1rem 1.8rem;
  }
  .main__contact:hover {
    transition: 0.4s;
    background-color: var(--secondary-color-h);
  }
}
