.experience{
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  
}
.experience__container{

}

.experience__title {
  text-align: left;
  margin: 2rem auto;
}
.experience__title::before {
  position: relative;
  counter-increment: section 2;
  content: '0' counter(section) '.';
  margin-right: 10px;
  color: var(--secondary-color);
  font-family: 'JetBrains Mono';
  font-size: 1.2rem;
  font-weight: 800;
}

.experience__title::after {
  content: '';
  display: block;
  position: relative;
  top: -15px;
  margin-left: 14rem;
  height: 1px;
  background-color: var(--white-color);
}
.exp__card{
  background: var(--third-color);
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  margin: 1rem auto;
  min-height: 400px;
}
.exp_title {
  font-size: 1rem;
  font-family: 'JetBrains mono';
  color: var(--secondary-color);
  font-weight: bold;
}
.exp_rol{
  text-transform: uppercase;
  font-size: .7rem;
  color: var(--gray-color);
}
.exp_desc{
  margin-top: 1rem;
  font-weight: 300;
  position: relative;
}
.exp__content{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  opacity: 0;
  transition: .6s;
  position: absolute;
}
.sliders{
  display: flex;
  position: absolute;
  z-index: 150;
  bottom: 0;
}
.slider{
  padding: .5rem 1.5rem;
  border-top: .3rem solid var(--secondary-color);
  cursor: pointer;
  position: relative;  
}

#tap-1:checked ~ .sliders .tap-1, 
#tap-2:checked ~ .sliders .tap-2,  
#tap-3:checked ~ .sliders .tap-3{
  background-color: var(--secondary-color);
  transition: .5s;
} 

/* .slider:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: -100%;
}

#tap-1:checked ~ .sliders .tap-1:before,
#tap-2:checked ~ .sliders .tap-2:before,
#tap-3:checked ~ .sliders .tap-3:before{
  width: 100%;
  background: var(--secondary-color);
  opacity: .3;
  transition: .5s;
} */

#tap-1:checked ~ .content-1,
#tap-2:checked ~ .content-2,
#tap-3:checked ~ .content-3{
  opacity: 1;
  margin: 0;
  transition-delay: .2s;
}


input{
  /* display: none; */
}

@media (min-width: 700px){
  .experience{
    width: 70%;
    
  }
  .exp__content{
    left: 30% ;
  }
  .exp_slider-container{
    flex-direction: column;
    width: 20%;
    left: 0;
    top: 0;
    gap: 10px;
  }
  .slider{
    border-top: none;
    /* border-right: .3rem solid tomato; */
  }
  

}